# general files
*.pyc
*.save
*.mat
*.mp4
*.data

# Python folders
*/annarchy*/
*/Results*/
*/connections*/
*/targets/
*.vscode/
*.spyproject/

# Unity folders
*/unity2019/Library*
*/unity2019/Logs*
*/unity2019/Packages*
*/unity2019/Temp*
