<?xml version="1.0" encoding="UTF-8"?>
<cConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <LocalPort>1337</LocalPort>
  <SyncMode>false</SyncMode>
  <MakeVideo>false</MakeVideo>
  <SimulationTimePerFrame>0.05</SimulationTimePerFrame>
  <ImageResolutionWidth>408</ImageResolutionWidth>
  <ImageResolutionHeight>308</ImageResolutionHeight>
  <SendGridPosition>true</SendGridPosition>
  <MovementSpeed>1.8</MovementSpeed>
  <CameraDisplayWidth>256</CameraDisplayWidth>
  <FovHorizontal>102</FovHorizontal>
  <FovVertical>77</FovVertical>
  <IPAddress>192.168.2.106</IPAddress>
  <IPAddressEntry>0</IPAddressEntry>
  <sphericalProjection>true</sphericalProjection>
</cConfiguration>